header{
    background-color: rgb(172, 234, 172);
}
nav{ 
    margin-top: 0%;
    padding-top: 2px;
    background-color: rgb(206, 230, 170)
} 

main{
    background-color: rgba(147, 219, 70, 0.914);
} 
